<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.qlauncher1"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserLabel="@string/app_name" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="com.tencent.qlauncher1.ShawnApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tencent.qlauncher1.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".Activity02" >
        </activity>
        <activity android:name=".AActivity"
            	  android:label="AActivity"
            	  android:launchMode="singleTask"  >
        </activity>
        <activity android:name=".BActivity"
                  android:label="BActivity"  >
            <intent-filter>
                <action android:name="com.tencent.qlauncher1.BActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http"/>
            </intent-filter>
        </activity>   
        
        <activity android:name="com.tencent.qlauncher1.MusicPlayActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:name="android.intent.data.MAIN" />    
            </intent-filter>
        </activity>
        <service android:name="com.tencent.qlauncher1.ShawnService" ></service> 
        <service android:name="com.tencent.qlauncher1.ShawnIntentService"></service> 
        <service android:name="com.tencent.qlauncher1.BindService" >  </service>	
        </application>
</manifest>