*{
	box-sizing: border-box;
	border:1px solid red;
	margin: 4px
}
.app{
	display: flex;
	flex-direction: row;
}
.description{
	color: red;
	order: 2;	
}

.screenshot{
	order: 1;
	flex-basis: 0; 
}
